<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
  <Type>origin</Type>
  <IP>*</IP>
  <PrivacyProtection>true</PrivacyProtection>
  <StunServer>stun.l.google.com:19302</StunServer>
  <Managers>
    <Host>
      <Names>
        <Name>*</Name>
      </Names>
    </Host>
    <API>
      <AccessToken>ome-access-token</AccessToken>
    </API>
  </Managers>

  <Bind>
    <Managers>
      <API>
        <Port>8080</Port>
      </API>
    </Managers>
    <Providers>
      <RTMP>
        <Port>1935</Port>
      </RTMP>
    </Providers>
    <Publishers>
      <WebRTC>
        <Signalling>
          <Port>3333</Port>
        </Signalling>
        <IceCandidates>
          <TcpRelay>*:3478</TcpRelay>
          <IceCandidate>*:10000/udp</IceCandidate>
        </IceCandidates>
      </WebRTC>
	  </Publishers>
  </Bind>
  <VirtualHosts>
    <VirtualHost>
      <Name>miracle-tv</Name>
      <Host>
        <Names>
          <Name>*</Name>
        </Names>
      </Host>
      <Applications>
        <Application>
          <Name>live</Name>
          <Type>live</Type>
          <Providers>
            <RTMP>
              <BlockDuplicateStreamName>true</BlockDuplicateStreamName>
            </RTMP>
          </Providers>
          <Publishers>
            <WebRTC>
              <Timeout>30000</Timeout>
              <Rtx>false</Rtx>
              <Ulpfec>false</Ulpfec>
              <JitterBuffer>false</JitterBuffer>
            </WebRTC>
          </Publishers>
          <OutputProfiles>
            <OutputProfile>
              <Name>360_stream</Name>
              <OutputStreamName>${OriginStreamName}_360</OutputStreamName>
              <Encodes>
                <Video>
                  <Codec>h264</Codec>
                  <Width>640</Width>
                  <Height>360</Height>
                  <Bitrate>2000000</Bitrate>
                  <Framerate>60.0</Framerate>
                  <Preset>fast</Preset>
                </Video>
                <Audio>
                  <Codec>opus</Codec>
                  <Bitrate>128000</Bitrate>
                  <Samplerate>48000</Samplerate>
                  <Channel>2</Channel>
                </Audio>
              </Encodes>
            </OutputProfile>
            <!-- <OutputProfile> -->
            <!--   <Name>1080_stream</Name> -->
            <!--   <OutputStreamName>${OriginStreamName}_1080</OutputStreamName> -->
            <!--   <Encodes> -->
            <!--     <Video> -->
            <!--       <Codec>h264</Codec> -->
            <!--       <Width>1920</Width> -->
            <!--       <Height>1080</Height> -->
            <!--       <Bitrate>2000000</Bitrate> -->
            <!--       <Framerate>60.0</Framerate> -->
            <!--       <Preset>fast</Preset> -->
            <!--     </Video> -->
            <!--     <Audio> -->
            <!--       <Codec>opus</Codec> -->
            <!--       <Bitrate>128000</Bitrate> -->
            <!--       <Samplerate>48000</Samplerate> -->
            <!--       <Channel>2</Channel> -->
            <!--     </Audio> -->
            <!--   </Encodes> -->
            <!-- </OutputProfile> -->
            <!-- <OutputProfile> -->
            <!--   <Name>720_stream</Name> -->
            <!--   <OutputStreamName>${OriginStreamName}_720</OutputStreamName> -->
            <!--   <Encodes> -->
            <!--     <Video> -->
            <!--       <Codec>h264</Codec> -->
            <!--       <Width>1280</Width> -->
            <!--       <Height>720</Height> -->
            <!--       <Bitrate>2000000</Bitrate> -->
            <!--       <Framerate>60.0</Framerate> -->
            <!--       <Preset>fast</Preset> -->
            <!--     </Video> -->
            <!--     <Audio> -->
            <!--       <Codec>opus</Codec> -->
            <!--       <Bitrate>128000</Bitrate> -->
            <!--       <Samplerate>48000</Samplerate> -->
            <!--       <Channel>2</Channel> -->
            <!--     </Audio> -->
            <!--   </Encodes> -->
            <!-- </OutputProfile> -->
            <OutputProfile>
              <Name>bypass_stream</Name>
              <OutputStreamName>${OriginStreamName}</OutputStreamName>
              <Encodes>
                <Audio>
                  <Bypass>true</Bypass>
                </Audio>
                <Video>
                  <Bypass>true</Bypass>
                </Video>
                <Audio>
                  <Codec>opus</Codec>
                  <Bitrate>128000</Bitrate>
                  <Samplerate>48000</Samplerate>
                  <Channel>2</Channel>
                </Audio>
              </Encodes>
            </OutputProfile>
          </OutputProfiles>
        </Application>
      </Applications>
      <AdmissionWebhooks>
        <ControlServerUrl>http://miracle-backend:4000/api/hook/ome/hook</ControlServerUrl>
        <SecretKey>1234</SecretKey>
        <Timeout>3000</Timeout>
        <Enables>
          <Providers>rtmp</Providers>
        </Enables>
      </AdmissionWebhooks>
    </VirtualHost>
  </VirtualHosts>
</Server>
